In [7]:
# name is a variable. It contains a String
name = input("Please type in your name")
print ("Hello " + name + ", it's very nice to meet you!")

Please type in your name Ishnu

Hello Ishnu, it's very nice to meet you!

In [4]:
# taxRAte, subtotal tax and total are all variables that contain numbers
taxRate = 0.14
subtotal = 20
tax = subtotal * taxRate
total = subtotal + tax
print("Your total bill is: ")
print(total)

Your total bill is:
22.8

In [8]:
# travel Destinations is a variable containing a list
# city is a variable - it's value is changing a few times
travelDestinations = ["Vancouver", "Montreal","Calgary","Toronto"]
for city in travelDestinations:
    print(city + " looks like a cool place to go!!")

Vancouver looks like a cool place to go!!
Montreal looks like a cool place to go!!
Calgary looks like a cool place to go!!
Toronto looks like a cool place to go!!

In [9]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [ ]:
Hello, World
"Hello World"
2+2
"2+2"

In [13]:
print('Let\'s get down to business!')
print("Let's get down to business!")
      
print('I said, "we should go" and we left.')
print("I said, \"we should go\" and we left.")

Let's get down to business!
Let's get down to business!
I said, "we should go" and we left.
I said, "we should go" and we left.

In [48]:
import time
moon=[0x1F311, 0x1F312, 0x1F313, 0x1F314, 0x1F315, 0x1F316, 0x1F317, 0x1F318]
for i in moon:
    chr(i)
    time.sleep(0.5)

In [63]:
s = 'foobar'
s[::-5]
print(s[::5])
s = s.replace('b', 'x')
s

fr

'fooxar'

In [53]:
anyNum = int(input())
anyNum -= 5
print(anyNum)

 36

31

In [54]:
tripleUp = 5
tripleUp *= 3
print(tripleUp)

quarterValue = 100
quarterValue /= 4
print(quarterValue)

15
25.0

In [15]:
# It's important to start with defining yoru sum as 0 to start with.
sum = 0

num = int(input())
sum += num

num = int(input())

num = int(input())
sum += num

print(sum)

 5
 6
 7

12

In [57]:
a=4
b=2
c=a+b
print(c)
print(c/2)

6
3.0

In [58]:
print(2*2)
print(2.0*2)

4
4.0

In [59]:
print(2**10)

1024

In [60]:
print(4%2)
print(4%3)

0
1

In [61]:
print(10//3)
print(-11//3)

3
-4

foobarfoobar

In [101]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
print(a)
a
[1,2,3,4] == [4,3,2,1]
a[:] is a
'foo' in a
a += ['grault', 'garply']
a *= 2
min(a)
del(a[2])
a[3:3]= [12,63,89,29]
a.pop(4), a

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

(63,
 ['foo',
  'bar',
  'qux',
  12,
  89,
  29,
  'quux',
  'corge',
  'grault',
  'garply',
  'foo',
  'bar',
  'baz',
  'qux',
  'quux',
  'corge',
  'grault',
  'garply'])

In [72]:
int
len
def foo():
    pass
foo
import math
math

a = [int, len, foo, math]
a

[int,
 <function len(obj, /)>,
 <function __main__.foo()>,
 <module 'math' from '/home/ishnu/anaconda3/lib/python3.8/lib-dynload/math.cpython-38-x86_64-linux-gnu.so'>]

In [113]:
MLB_team = {
...     'Colorado' : 'Rockies',
...     'Boston'   : 'Red Sox',
...     'Minnesota': 'Twins',
...     'Milwaukee': 'Brewers',
...     'Seattle'  : 'Mariners'}

print(MLB_team)


print(MLB_team.items())
MLB_team.clear()
print(MLB_team.values())
print(MLB_team.keys())

{'Colorado': 'Rockies', 'Boston': 'Red Sox', 'Minnesota': 'Twins', 'Milwaukee': 'Brewers', 'Seattle': 'Mariners'}
dict_items([('Colorado', 'Rockies'), ('Boston', 'Red Sox'), ('Minnesota', 'Twins'), ('Milwaukee', 'Brewers'), ('Seattle', 'Mariners')])
dict_values([])
dict_keys([])

False

In [123]:
d1 = {'a': 10, 'b': 20, 'c': 30}
d2 = {'b': 200, 'd': 400}

d1.update(d2)
dict(d1)

{'a': 10, 'b': 200, 'c': 30, 'd': 400}

In [1]:
x = [
    'a',
    'b',
    {
        'foo': 1,
        'bar':
        {
            'x' : 10,
            'y' : 20,
            'z' : 30
        },
        'baz': 3
    },
    'c',
    'd'
]
y=dict(x)

ValueError: dictionary update sequence element #0 has length 1; 2 is required

In [9]:
x = 0
y = 5

if x or y:
    print('yes')

yes

In [14]:
raining = False
print("Lets go to the ", 'beach' if not raining else 'library')

raining = True
print("Lets go to the ", 'beach' if not raining else 'library')

age = 32
s = 'minor' if age < 21 else 'adult'
s

Lets go to the  beach
Lets go to the  library

'adult'